.slide {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 而⑦뀒�씠�꼫�쓽 �궡�슜臾쇱씠 而⑦뀒�씠�꼫 �겕湲�(width, height)瑜� �꽆�뼱�꽕 �븣 蹂댁씠吏� �븡�룄濡� �븯湲� �쐞�빐 hidden�쓣 以��떎. */
  overflow: hidden;

  /* position */
  /* slide_button�쓽 position absolute媛� 而⑦뀒�씠�꼫 �븞履쎌뿉�꽌 top, left, right offset�씠 �쟻�슜�맆 �닔 �엳�룄濡� relative瑜� 以��떎. (湲곕낯媛믪씠 static�씤�뜲, static�씤 寃쎌슦 洹� �긽�쐞 而⑦뀒�씠�꼫濡� �굹媛�硫댁꽌 �쁽�옱 肄붾뱶�뿉�꽑 html�쓣 湲곗��쑝濡� offset�쓣 �쟻�슜�떆�궎湲� �븣臾�) */
  position: relative;

  /* size */
  width: 100%;

  /* slide drag瑜� �쐞�빐 DOM�슂�냼媛� �뱶�옒洹몃줈 �꽑�깮�릺�뒗寃껋쓣 諛⑹� */
  user-select: none;
}
.slide_item {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* position - 踰꾪듉 �겢由��떆 left offset媛믪쓣 �쟻�슜�떆�궎湲� �쐞�빐 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  /*height: 300px;*/
  /* flex item�쓽 flex-shrink�뒗 湲곕낯媛믪씠 1�씠誘�濡� 而⑦뀒�씠�꼫 �겕湲곗뿉 留욊쾶 以꾩뼱�뱶�뒗�뜲, �뒳�씪�씠�뱶瑜� 援ы쁽�븷 寃껋씠誘�濡� 以꾩뼱�뱾吏� �븡�룄濡� 0�쓣 以��떎. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.15s;
}
.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 踰꾪듉�씠 以묒븰�뿉 �쐞移섑븯寃� �븯湲곗쐞�빐 怨꾩궛 */
  top: calc(50% - 16px);

  /* size */
  width: 32px;
  height: 32px;

  /* style */
  border-radius: 100%;
  background-color: #cccc;
  cursor: pointer;
}

.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}

/* �럹�씠吏��꽕�씠�뀡 �뒪���씪 */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)瑜� �븯硫� 媛�濡� 媛��슫�뜲濡� �쐞移섏떆�궗 �닔 �엳�떎. */
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* �쁽�옱 �뒳�씪�씠�뱶媛� �븘�땶 寃껋� �닾紐낅룄 遺��뿬 */
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* �쁽�옱 �뒳�씪�씠�뱶 �깋�긽�� �닾紐낅룄 �뾾�씠 */
  color: #7fb5ff;
}

.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.15s;
}