<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">
 
 
 	<!--공지사항  -->
      <!-- 페이징을 위한 시작과 끝구하고, 리스트 출력  -->
   <select id="noticelist" parameterType="Map" resultType="nbbsvo">
    	select * from NOTICE_T  where NOTICE_ST = 1  
    	order by NOTICE_NUM desc limit #{limit} offset #{offset}
    	
   </select> 
   
      <!--게시글 갯수구하기  -->
   <select id="noticecount" resultType="int">
   	select count(*) from NOTICE_T
   </select>
   
   <!--상세  -->
   <select id="noticeonelist" parameterType="String" resultType="nbbsvo">
   	select * from NOTICE_T where NOTICE_NUM = #{NOTICE_NUM}
   </select>
   
   <!--조회수  -->
   <update id="noticehitup" parameterType="String">
   	update NOTICE_T
   	set NOTICE_HIT = NOTICE_HIT +1
   	where NOTICE_NUM = #{NOTICE_NUM}
   </update>
   
   
   
   	<!--이벤트 -->
      <!-- 페이징을 위한 시작과 끝구하고, 리스트 출력  -->
   <select id="eventlist" parameterType="Map" resultType="ebbsvo">
    	select * from EVENT_T  where EVENT_ST = 1  
    	order by EVENT_NUM desc limit #{limit} offset #{offset}
    	
   </select> 
   
      <!--게시글 갯수구하기  -->
   <select id="eventcount" resultType="int">
   	select count(*) from EVENT_T
   </select>
   
   <!--상세  -->
   <select id="eventonelist" parameterType="String" resultType="ebbsvo">
   	select * from EVENT_T where EVENT_NUM = #{EVENT_NUM}
   </select>
   
   <!--조회수  -->
   <update id="eventhitup" parameterType="String">
   	update EVENT_T
   	set EVENT_HIT = EVENT_HIT +1
   	where EVENT_NUM = #{EVENT_NUM }
   </update>
   
   
   
   <!-- faq  -->
    <select id="faqlist" parameterType="Map" resultType="faqbbsvo">
    	select * from FAQ_T  where FA_ST = 1  
    	order by FA_NUM desc limit #{limit} offset #{offset}
    	
   </select> 
   
       <!--게시글 갯수구하기  -->
   <select id="faqcount" resultType="int">
   	select count(*) from FAQ_T
   </select>

   <!--조회수  -->
   <update id="faqhitup" parameterType="String">
   	update FAQ_T
   	set FA_HIT = FA_HIT +1
   	where FA_NUM = #{FA_NUM }
   </update>
   
    <select id="faqonelist" parameterType="String" resultType="faqbbsvo">
   	select * from FAQ_T where  FA_NUM  = #{ FA_NUM }
   </select>
   
   
   
     <!-- 상품 Q&A -->
      <!-- 페이징을 위한 시작과 끝구하고, 리스트 출력  -->
   <select id="qnalist" parameterType="Map" resultType="qnabbsvo">
    	select * from QA_T  where BOARD_ST = 1  
    	order by BOARD_NUM desc limit #{limit} offset #{offset}
    	
   </select> 
   
      <!--게시글 갯수구하기  -->
   <select id="qnacount" resultType="int">
   	select count(*) from QA_T
   </select>
   
   <!--상세  -->
   <select id="qnaonelist" parameterType="String" resultType="qnabbsvo">
   	select * from QA_T where BOARD_NUM = #{BOARD_NUM}
   </select>
   
   <insert id="qnainsert" parameterType="qnabbsvo" >
   	insert into QA_T (BOARD_SUBJECT, BOARD_WRITER, BOARD_CONTENT, BOARD_FILE, BOARD_ST,BOARD_LOCK, BOARD_DATE, BOARD_TYPE,CLIENT_NUM,PROD_NUM)
   	values(#{BOARD_SUBJECT},#{BOARD_WRITER},#{BOARD_CONTENT},#{BOARD_FILE},1,#{BOARD_LOCK},SYSDATE(),#{BOARD_TYPE},#{CLIENT_NUM}, #{PROD_NUM})
   </insert>
   
   <insert id="qnainsert2" parameterType="Map" >
   	insert into QA_T (BOARD_SUBJECT, BOARD_WRITER, BOARD_CONTENT, BOARD_FILE, BOARD_ST,BOARD_LOCK, BOARD_DATE, BOARD_TYPE,CLIENT_NUM,PROD_NUM)
   	values(#{subject},#{writer},#{content},#{file},1,#{lock},SYSDATE(),#{type},#{client}, #{prod})
   </insert>
   
  
   
</mapper>


