<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopping">
	<!-- 체크된 슬라이드 메인에 띄우는 것 -->
	<select id="popupList" resultType="popupVO">
		select * from POPUP_T where
		popup_chk = 1 AND popup_st = 1
	</select>

	<!-- 분야별 상품리스트 -->
	<select id="productlist" resultType="productVO">
		SELECT * FROM PRODUCT_T
		WHERE prod_st = 0 and prod_high = #{prod_high} and prod_low =
		#{prod_low} and prod_amount > 0
	</select>

	<!-- 베스트상품 -->
	<select id="productBestList" resultType="productVO">
		SELECT * FROM PRODUCT_T
		WHERE prod_st = 0 and prod_amount > 0
		ORDER BY prod_amount asc
		LIMIT 10;
	</select>

	<!-- 최신상품 -->
	<select id="productNewList" resultType="productVO">
		SELECT * FROM PRODUCT_T
		WHERE prod_st = 0 and prod_amount > 0
		ORDER BY prod_regdate DESC
		LIMIT
		8;
	</select>

	<!-- 상품 한개 -->
	<select id="productOne" resultType="productVO"
		parameterType="String">
		SELECT * FROM PRODUCT_T
		WHERE PROD_NUM = #{PROD_NUM}
	</select>

	<!-- 장바구니 추가 -->
	<insert id="basket" parameterType="basketVO">
		<selectKey keyProperty="cart_num" resultType="String"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO CART_T(prod_num, cart_amount, cart_price, cart_st,
		client_num)
		VALUES(#{prod_num}, #{cart_amount}, #{cart_price},
		#{cart_st}, #{client_num})
	</insert>

	<!-- 유저 정보 -->
	<select id="userinfo" resultType="uVO" parameterType="String">
		SELECT *
		FROM MEMBER_T
		WHERE client_num = #{client_num}
	</select>

	<!-- 위시리스트 추가 -->
	<insert id="wishadd" parameterType="wishVO">
		INSERT INTO
		WISH_T(client_num, prod_num, wish_st)
		values(#{client_num},#{prod_num},#{wish_st})
	</insert>

	<!-- 위시리스트 추가했다가 삭제후 재추가시 -->
	<update id="wishadd2" parameterType="wishVO">
		UPDATE WISH_T
		SET wish_st =
		#{wish_st}
		WHERE client_num = #{client_num} AND prod_num = #{prod_num}
	</update>

	<!-- 위시리스트 삭제 -->
	<update id="wishdelete" parameterType="wishVO">
		UPDATE WISH_T
		SET wish_st =
		#{wish_st}
		WHERE client_num = #{client_num} AND prod_num = #{prod_num}
	</update>

	<!-- 위시리스트 추가 시 조건 확인을 위한 조회 -->
	<select id="wishselect" resultType="wishVO"
		parameterType="wishVO">
		SELECT * FROM WISH_T
		WHERE client_num = #{client_num} and
		prod_num = #{prod_num}
	</select>

	<!-- 위시리스트 조회 -->
	<select id="wishlist" resultType="wishVO" parameterType="String">
		SELECT *
		FROM WISH_T
		WHERE client_num = #{client_num} and wish_st = 0 order by
		wish_in desc
	</select>

	<!-- 장바구니 상품 조회 -->
	<select id="basketselect" resultType="basketVO"
		parameterType="basketVO">
		SELECT * FROM CART_T
		WHERE client_num = #{client_num} AND
		prod_num = #{prod_num} and cart_st = 0
	</select>
	
	<!-- 장바구니 조회 -->
	<select id="cartinfo" resultType="basketVO"
		parameterType="String">
		SELECT * FROM CART_T
		WHERE cart_num = #{cart_num}
	</select>

	<!-- 장바구니 수량변경 -->
	<update id="basketupdate" parameterType="basketVO">
		UPDATE CART_T SET
		cart_amount = cart_amount + #{cart_amount}, cart_price = #{cart_price}
		* cart_amount where prod_num = #{prod_num} and client_num =
		#{client_num} and cart_st = 0
	</update>

	<!-- 장바구니 수량변경 -->
	<update id="basketupdate2" parameterType="basketVO">
		UPDATE CART_T SET
		cart_amount = #{cart_amount}, cart_price = #{cart_price} *
		#{cart_amount} where prod_num = #{prod_num} and client_num =
		#{client_num} and cart_st = 0
	</update>

	<!-- 장바구니 리스트 조회 -->
	<select id="basketlist" resultType="basketVO"
		parameterType="basketVO">
		SELECT * FROM CART_T
		WHERE client_num = #{client_num} and
		cart_st = 0
	</select>

	<!-- 장바구니 삭제 -->
	<update id="basketproductdel" parameterType="basketVO">
		UPDATE CART_T SET
		cart_st = 2 where prod_num = #{prod_num} and client_num =
		#{client_num} and cart_st = 0
	</update>

	<!-- 포인트 조회 -->
	<select id="point" resultType="pVO" parameterType="String">
		SELECT * FROM
		POINT_T WHERE CLIENT_NUM = #{client_num} ORDER BY POINT_DATE DESC
		LIMIT 1
	</select>

	<!-- 결제 -->
	<insert id="payinsert" parameterType="payVO">
		INSERT INTO PAY_T
		(take_peo, take_addr, take_phone, take_memo,
		pay_type, pay_oknum, cart_num,
		client_num, pay_money
		<if test="paymentKey != null">
			, paymentKey
		</if>
		)
		VALUES
		(#{take_peo}, #{take_addr}, #{take_phone}, #{take_memo},
		#{pay_type}, #{pay_oknum},
		#{cart_num}, #{client_num}, #{pay_money}
		<if test="paymentKey != null">
			, #{paymentKey}
		</if>
		)
	</insert>

	<!-- 포인트 차감 -->
	<insert id="pointsub" parameterType="pVO">
		INSERT INTO POINT_T
		(POINT_USE, POINT_REM, CLIENT_NUM)
		VALUES (#{POINT_USE}, #{POINT_REM},
		#{CLIENT_NUM})
	</insert>

	<!-- 주문조회 리스트 -->
	<select id="paylist" resultType="payVO" parameterType="String">
		SELECT
		P.PROD_IMG,
		PAY.pay_num,
		PAY.take_peo,
		PAY.take_addr,
		PAY.take_phone,
		PAY.take_memo,
		PAY.pay_type,
		PAY.pay_card,
		DATE_FORMAT(PAY.pay_ok, '%Y-%m-%d') AS pay_ok,
		PAY.pay_oknum,
		PAY.pay_st,
		PAY.cart_num,
		PAY.client_num,
		PAY.paymentkey,
		PAY.pay_money
		FROM PAY_T AS PAY
		JOIN CART_T AS C ON PAY.cart_num = C.cart_num
		JOIN PRODUCT_T AS P ON C.prod_num = P.prod_num
		WHERE PAY.client_num = #{client_num}
		GROUP BY PAY.pay_oknum
		ORDER BY PAY.pay_ok DESC
	</select>

	<!-- 주문상세 -->
	<select id="orderlist" resultType="payVO" parameterType="String">
		SELECT *
		FROM PAY_T
		WHERE pay_oknum = #{pay_oknum}
	</select>
</mapper>









