<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
	MyBatis에서 쿼리에 매핑되는 파라미터에 Null 값이 있는 경우
	에러 발생 => 해결 방안 :name="jdbcTypeForNull" value="NULL" 
	 -->
	<!-- 
	 MyBatis cache 사용 여부 : name="cacheEnabled" value="false"
	 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="false"/>
	</settings>
	<!-- Alias : 별칭 -->
	<typeAliases>
		<!-- <typeAlias type="com.ict.model.vo.MembersVO" alias="mvo"/> -->


		<typeAlias type="com.ict.bbs.model.vo.NO_BBS_VO" alias="nbbsvo"/>
		<typeAlias type="com.ict.bbs.model.vo.EV_BBS_VO" alias="ebbsvo"/>
		<typeAlias type="com.ict.bbs.model.vo.FA_BBS_VO" alias="faqbbsvo"/>
		<typeAlias type="com.ict.bbs.model.vo.QA_BBS_VO" alias="qnabbsvo"/>


	</typeAliases>
	<mappers>
		<!-- <mapper resource="mappers/members-mapper.xml" /> -->
		<mapper resource="mappers/bbs-mapper.xml" />
	</mappers>
</configuration>
